h1 {
  text-align: center;
  font-size: 70px;
  color: black;
  font-family: georgia;
  margin: 10px;
  margin-top: -90px;
}


/* margin,font and color default */
html,body{
  margin:50px;
  font-family: georgia;
  background-color: white;
}


/* Board positioning for center of page and overflow hidden to make sure there is room for game win content on top and no overlap on sides */
.board{
	position: relative;
	overflow: hidden;
	padding-top: 0px;
	display: relative;
	margin: auto;
	max-width:705px;
}
/* Positions board and connect 4 circles in correct place and color (columns) */
.connect4 {
	background-color: darkblue;
	background: darkblue;
	display:flex;
	flex-wrap:wrap;
	min-width:705px;
	padding:2px;
}
/* Make board square and cursor/background color change when interacting*/
.connect4 > div {
	width:100px;
	height:100px;
	background-color: white;
	cursor: s-resize;
	position:relative;
}

/* Fill board w/ game pieces, align pieces with, drop pieces into spots and start pieces at top */
.connect4 > .filled:before{
	content:"";
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:80px;
	height:80px;
	border-radius:50%;
	animation:fadeBall 1.2s forwards;
	transform:translateY(-600px);
}
/* Game piece colors (Needed a darker yellow so used hex code */
.filled.red:before{background:red;}
.filled.yellow:before{background: #e8e337;}
/* Drop game pieces so they dont stick at top */
@keyframes fadeBall{
	to{transform:translateY(0)}
}
/* Games won positioning and font size */
#gameswon{
	display:flex;
	font-size:30px;
	max-width:700px;
	margin:0 auto auto;
}

#gameswon p{margin:0;padding:5px;}
p#yellowscore {margin-left:auto}
#redscore{color:red;}
#yellowscore{color: #e8e337;}

/* Tell winner and stop game */
.winner:after{
	content:"";
	position:absolute;
	z-index:999;
	left:0;
	top:0;
	right:0;
	bottom:0;
}
.info{display:none;}
.winner .info{
	display:flex;
  position:fixed; top:100px;
	z-index:1000;
	font-weight:bold;
	width: 705px;
	font-size:80px;
  background-color: white;
  padding-top: 20px;
}

/* Which color won */
.p1,.p2,.none{display:none;}
.red .p1{
  display:inline-block;
  color:red;
  
}
.yellow .p2{
  display:inline-block;
  color: #e8e337;
  
}


.winner .connect4 > span.counterspan.counter{display;}

.reset { 
	color: white;
  padding:5px 20px;
	border-radius: 12px;
	background: black;
	font-size: 20px;
	float:right;
  margin: 0 0 0 auto;
  height: 70px;
  cursor: pointer;
  outline: black;
}
.reset:hover {background-color: gray}
.reset:active {
  background-color: darkgrey;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

/* add layering to drop*/
.connect4 cell{ 
  overflow:hidden;  
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  z-index:102;
  border: none;
}
.connect4 cell:before{
  content:"";
  position:absolute;
  left:10px;
  right:10px;
  bottom:10px;
  top:10px;
  background: transparent;
  border-radius:50%;
 	box-shadow:0 0 100px 100px black,inset 0px 0px 20px black;
  
}





